extends ../layout

block content
  h2 Добавить книгу
  form#add-form(method="post" enctype="multipart/form-data" action="/api/books")
    label
      span.label-text Название
      input.input(type="text" name="title" required autocomplete="off")
    label
      span.label-text Автор
      input.input(type="text" name="author" required autocomplete="off")
    label
      span.label-text Дата выпуска
      input.input(type="date" name="publicationDate" required)
    label
      span.label-text Обложка
      input.input(type="file" name="coverImage" accept="image/*")
    .form-actions
      button.btn.btn-primary(type="submit") Добавить
      a.btn.btn-ghost(href="/") Отмена
